html,
body {
  cursor: none;
}

.cursor {
  display: none;
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    z-index: 1000000000;
  }
  .cursor__inner {
  }
}
